.video-title {
	margin-top: 0;
	font-size: 15px;
	font-weight: 500;
	line-height: 20px;
	font-weight: bold;
	margin-bottom: 12px;
}

.video-author,
.video-stats {
	font-size: 13px;
	color: rgb(96, 96, 96);
}

.video-author {
	margin-bottom: 4px;
}

.video-grid {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	column-gap: 16px;
	row-gap: 40px;
	margin-left: 70px;
}

@media (max-width: 750px) {
	.video-grid {
		grid-template-columns: 1fr 1fr;
	}
}

@media (max-width: 751x) and (min-width: 1800px) {
	.video-grid {
		grid-template-columns: 1fr 1fr 1fr;
	}
}

@media (min-width: 1501px) {
	.video-grid {
		grid-template-columns: 1fr 1fr 1fr 1fr;
	}
}

.info-grid {
	display: grid;
	grid-template-columns: 50px 1fr;
}

.video-img {
	width: 100%;
}

.profile-img {
	width: 35.99px;
	border-radius: 20px;
}

.video-image {
	margin-bottom: 12px;
	width: 100%;
}

.image-time-container {
	position: relative;
}

.time {
	position: absolute;
	background-color: black;
	color: white;
	padding: 3px 5px 3px 5px;
	bottom: 19px;
	right: 8px;
}
